*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

main{
    width: 65%;
    height: 1000px;
    margin: auto;
    background-color: grey;
}

.container{
    width: 25%;
    height: 300px;
    margin-top: 40px;
    margin-left: 50px;
    display: inline-block;
}

img{
    height: 400px;
    width: 250px;
    object-fit: cover;
}

.back{
    height: 400px;
    width: 250px;
    background-size: cover;
}

.one{
    background-image: url(../img/1b.webp);
}

.two{
    background-image: url(../img/2b.webp);
}

.three{
    background-image: url(../img/3b.webp);
}

.four{
    background-image: url(../img/4b.webp);
}

.five{
    background-image: url(../img/5b.webp);
}

.six{
    background-image: url(../img/6b.webp);
}
